@charset "utf-8";

h1,
h2 {
	color: white;
	display: none
}

body {
	margin: 0;
	padding: 0;
	background-color: white;
}

sup {
	font-size: 8px;
}

.sup2 {
	font-size: 10px;
}

.notSeen {
	display: none;
}

img {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #999;
}

/* #topBox {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	position: fixed;
	background-color: white;
	opacity: 0.95;
	filter: alpha(opacity=95);
	width: 710px;
	height: 20px;
	top: 0;
} */

/* .blueBox {
	display: none;
} */

#mainContainer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	/* background-color: grey; */
	padding-top: -230px;
}

#box {
	position: relative;
	margin: 0 auto 0 auto;
  	/* top: 50%; */
  	/* left: 50%; */
	top: 0;
	/* margin: 0 auto 0 auto; */
	/* margin-left: auto;
	margin-right: auto; */
	/* padding: -230px 100px 100px 100px; */
	/* margin-top: -89px; */
	width: 710px;
	/* height: 100vh; */
	/* height: 2000px; */
	background-color: white;

	/* border: #2F3646 1px solid; */
	/* background-color: yellow; */
	/* overflow:hidden; */
}

.portfolio {
	/* position: relative; */
	/* width: 710px; */
	/* margin: 90px 0 0 0; */
	padding-bottom: 90px;
	/* background-color: orange; */
}

#topHeader {
	position: absolute;
	width: 150%;
	height: 180px;
}

#topBgWhite {
	position: fixed;
	width: 710px;
	height: 160px;
	opacity: 0.95;
	filter: alpha(opacity=95);
	background-color: white;
	top: 0px;
	border-bottom: #607090 1px solid;
}

address {
	position: fixed;
	font-style: normal;
	top: 76px;
	width: 710px;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////  NAV  //////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
#nav {
	position: fixed;
	border-top: #607090 1px solid;
	padding: 5px 0 8px 0;
	margin: 20px 0 15px;
	width: 710px;
	border-bottom: #607090 1px solid;
	font-size: 13px;
	height: 15px;
	top: 0;
	background-color: white;
}

#nav a {
	/*margin: 0 13px 50px 0; */
	margin-right: 10px;
	color: #336699;
	text-decoration: none;
	font-weight: normal
}

.selected {
	font-weight: bold;
	margin-right: 10px;
	color: #336699;
}

#nav a:hover {
	color: #2F3646
}

#portfolioBtn {
	position: absolute;
}

#resumeBtn {
	position: absolute;
	left: 85px;
}

#resumeBtn2 {
	position: absolute;
	left: 78px;
}

a {
	color: #336699;
	font-weight: normal;
	text-decoration: underline;
	text-decoration-skip-ink: none;
}

a:hover {
	color: #336699;
	text-decoration: none;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////// HEADER STYLE //////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.txt {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #336699;
	line-height: 15px;
}

.title {
	font-size: 18px;
	line-height: 23px;
}

.experienceTitle {
	margin: -23px 0 0 195px;
}

.experience {
	margin: -23px 0 0 0;
}

.contact {
	display: flex;
	color: #999;
	margin-top: 21px;
	font-size: 12px;
}

#shadow {
	position: absolute;
	opacity: .6;
	filter: alpha(opacity=6);
	width: 710px;
	height: 10px;
	top: 85px;
	background: url("../images/shadow.png") 0 0 repeat-x;
}

.lastUpdatedDate {
	position: absolute;
	top: 67px;
	right: 0;
	text-align: right;
	font-size: 11px;
	color: #999;
}

a.emailLink {
	color: #999;
	text-decoration: none;
}

a.emailLink:hover {
	color: #999;
	text-decoration: underline;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////  PORTFOLIO  ////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* .topPortfolioPosition {
	margin-top: 230px;
} */

footer {
	/* position: absolute; */
	width: 100%;
	/* top: 200px; */
}

.line {
	position: relative;
	border-bottom: #607090 1px solid;
	margin: 34px 0 2px 0;
	width: 100%;
}

/* #line2 {
	position: absolute;
	border-bottom: #607090 1px solid;
	bottom: -1px;
	width: 100%;
} */

.jobPosition {
	font-size: 17px;
	line-height: 19px;
	margin-left: 300px;
}

.infoText {
	font-size: 12px;
	line-height: 14px;
}

.code {
	font-size: 14px;
	line-height: 16px;
}

.PortfolioContainer {
	/* position: relative; */
	top: 0;
	width: 100%;
	/* background-color: black; */
}

.topPositioning {
	position: relative;
	left: 135px;
	width: 572px;
	top: 20px;
	/* background-color: pink; */
}

.buttonSample {
	white-space: nowrap;
	position: absolute;
	cursor: pointer;
	font-size: 14px;
	right: 0;
	top: 0;
	transition-duration: 0.4s;
	background-color: #85A3C2;
	background: rgb(133,163,194);
	/* background: linear-gradient(180deg, rgba(133,163,194,1) 0%, rgba(51,102,153,1) 100%); */
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	border-radius: 3px;
	padding: 2px 9px 4px 9px;
	box-shadow: 1px 1px 2px #999;
	margin-right: 3px;
}

.buttonSample:hover {
	background: rgb(51,102,153);
	/* background: linear-gradient(180deg, rgba(51,102,153,1) 0%, rgba(133,163,194,1) 100%); */
	color: white;
	box-shadow: none;
  }

.city {
	padding-left: 4px;
	font-size: 12px;
	font-weight: normal;
}

.portfolio .image {
	display: block;
	position: absolute;
	width: 100px;
	top: 0;
}

.portfolio .rightSide {
	position: relative;
	top: 0;
	left: 0;
}

.portfolio .rightSide .title {
	position: relative;
	left: 120px;
	color: #336699;
}

.portfolio .rightSide .link ul {
	position: absolute;
	right: 15px;
	/* list-style-image: url(../images/bullet2.gif); */
}

.portfolio .rightSide .nolink {
	text-align: right;
	margin-bottom: 20px;
	/* color: white */
}

.portfolio .rightSide .keys {
	position: relative;
	float: left;
	display: block;
	width: 120px;
	color: #999;
	top: 0;
	margin: 0;
	padding: 0;
}

.portfolio .rightSide .note {
	font-size: 11px;
	color: #999;
	font-style: italic;
	line-height: 12px;
	margin-top: 15px;
}

.portfolio .rightSide .value {
	text-align: left;
	margin: 0 0 12px 120px;
}

.portfolio .rightSide .achievement .value {
	margin: 0 10px 0 120px;
}

ul {
	list-style-image: url(../images/bullet.gif);
	/* margin: 0 -14px 0 10px; */
	line-height: 17px;
	/* margin-right: 3px; */
}

.clear_both {
	clear: both;
}

.info {
	width: 430px;
	font-size: 12px;
	color: #999999;
	font-style: italic;
	line-height: 13px;
	margin-top: 20px;
}

.copy {
	display: block;
	width: 100%;
	font-size: 10px;
	color: #999;
	text-align: right;
	padding: 0 0 40px 0;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////  RESUME  ///////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

#resume {
	display: block;
	position: absolute;
	width: 710px;
	background-color: white;
}

/*/////////////////////////////////////////////////// INTRODUCTION /////////////////////////////////////////////////////*/

.spacer2 {
	height: 200px;
}

#box #resume .title {
	font-weight: bold;
	font-size: 14px;
	margin: 30px 0 20px;
}

#competencies {
	display: block;
	margin-bottom: 40px;
}

.introduction {
	margin-left: 38px;
}

#competencies .title {
	margin: 30px 0 0 0;
}

#box #resume #competencies {
	margin-bottom: 20px;
}

#box #resume #competencies li {
	line-height: 17px;
}

.work li {
	margin-right: 20px;
}

#box #resume .job {
	display: block;
	margin: 30px 0 45px 0;
}

.work {

	width: 710px;
	margin-right: 15px;
	
}

.columnLeft {
	width: 335px;
}

.columnRight {
	position: absolute;
	width: 335px;
	height: 160px;
	margin: -12px 0 0 370px;
}

.position {
	position: absolute;
	font-weight: bold;
	font-size: 15px;
	margin-bottom: 20px;
}

.position2 {
	position: absolute;
	margin-bottom: 20px;
}

.edu {
	display: block;
	margin-top: 15px
}

.company {
	font-size: 15px;
	font-style: italic;
	margin: 25px 0px 5px 0px;
}

.year {
	width: 150px;
	margin: 0 0 0 560px;
	text-align: right;
	font-size: 12px;
	font-weight: bold;
}

.withLine {
	text-decoration: underline;
}

.placeTime {
	font-size: 12px;
	font-style: italic;
	font-weight: normal;
}

.education {
	display: block;
	margin-top: 10px
}

.educationYear {
	font-size: 12px;
	font-style: italic;
	font-weight: bold;
	text-align: right !important;
}

/* ul {
	list-style-image: url(../images/bullet.gif);
	line-height: 17px;
} */

.spacer {
	/* position: relative; */
	/* top: 0; */
	height: 230px;
	/* background-color: green; */
	/* margin-bottom: 230px; */
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////--- SAMPLES DESKTOP ---/////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.setSample {
	position: fixed;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.close {
	position: fixed;
	cursor: pointer;
	background: url("../images/close.png") no-repeat 0 0;
	width: 44px;
	height: 44px;
	top: 10px;
	right: 30px;
}

.repositioning {
	margin-left: -12px !important;
}

#preload {
	display: none; 
	top: 350px;
	/* left: 50%;
	right: 50%; */
	margin-left: auto;
	margin-right: auto;
	width: 30px;
	height: 30px;
	background: repeat url(../images/loading.gif) 0 0;
	position: fixed;
}

/* #preload2 {
	display: block;
	width: 30px;
	height: 30px;
	top: 170px;
	left: 47%;
	/* right: 50%; */
	/* margin-left: auto;
	margin-right: auto; */
	/*background: repeat url(../images/loading.gif) 0 0;
	opacity: .6;
	position: absolute;	
} */

.close:hover {
	background-position: bottom;
}

  .bg {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: white;
	opacity: 0.97;
	filter: alpha(opacity=97);
  }

  .overlayContainer {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100%;
	overflow-y: auto;
	margin-left: -2px;
	/* background-color: purple; */
	overflow-y: scroll;
  }

  /* .clickZone {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 98%;
	height: 100%;
	cursor: pointer;
  }
   */
  .centerPosition {
	display: block;
	position: relative;
	top: 0;
	left: 0;
	cursor: default;
	width: 710px;
	margin-left: auto;
	margin-right: auto;
	/* padding-left: 3.7%; */
	z-index: 10;
	padding-bottom: 10px;
	/* padding-left: -30px; */
	/* background-color: red; */
  }
  
  .whiteBox {
	position: relative;
	background-color: white;
	width: 690px;
	padding: 18px 10px 18px 10px;
	margin: 10px 0 20px 0;
	border: solid 1px #CCC;
	border-radius: 5px;
	box-shadow: 1px 1px 5px #ebe8e8;
  }
   
   .titleSamples {
	cursor: default;
	width: 710px;
	font-size: 22px;
	line-height: 24px;
	color: #336699;
	padding: 60px 0 40px 0;
  }
  
  .title2, .title3 {
	font-size: 22px;
	margin-left: -10px;
  }

  .title3 {
	margin-left: -30px;
  }
  
  .txtSample, .txt2Sample {
	padding: 8px 0 0 10px;
	font-size: 13px;
	line-height: 16px;
	color: #999;
	width: 100%;
  }
  
  .txt2Sample {
	padding-top: 40px;
  }
  
  .sizeup {
	font-size: 18px;
	color: #336699;
	padding: 2px 0 3px 10px;
  }
  
  .width {
	max-width: 710px;
	margin: auto auto;
  }
  
  .imageWrapper {
	max-width: 710px;
	display: grid;
	column-gap: 8px;
	row-gap: 12px;
	grid-template: "auto auto auto";
	padding: 25px 0 20px 0;
	cursor: default;
  }
  
  .imageWrapper2 {
	max-width: 608px;
	display: grid;
	column-gap: 12px;
	row-gap: 8px;
	grid-template: "auto auto";
	padding: 25px 0 20px 0;;
  }
  
  .imageWrapper3 {
	max-width: 710px;
	display: grid;
	row-gap: 12px;
	grid-template: "auto";
	padding: 16px 0 20px 0;
  }

  .item224, .item690 {
	z-index: 89;
  }
  
  .item224 {
	width: 224px;
	
  }

  .item600 {
	width: 600px;
  }
  
  .item690 {
	width: 690px;
	/* z-index: 91; */
  }

  .item254 {
	width: 254px;
  }

  .item423 {
	width: 423px;
  }
  
  .logo {
	font-size: 12px;
	margin: 0 15px 0 10px;
	width: 80px;
	height: 80px;
  }

  #samples {
	display: none;
	position: fixed;
	top: 0;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////  MOBILE  /////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

@media only screen and (max-width: 550px) {


	/* .spacer {
		height: 200px;
	} */

	#box {
		width: 480px;
		/* background-color: pink; */
	}

	.notSeen {
		display: block;
	}
	
	#topHeader {
		position: relative;
		top: 0;
		left: 0;
		width: 480px;
		/* height: 200px; */
		/* top: 10px; */
		/* background-color: #336699; */
	}

	#topBgWhite {
		position: absolute;
		top: 0;
		left: -60px;
		width: 710px;
		height: 180px;
		background-color: #336699;
		opacity: 1;
		border-bottom: none;
	}

	address {
		position: absolute;
	}

	#shadow {
		opacity: 1;
		width: 710px;
		top: 104px;
		left: -60px;
	}

	#info {
		top: 0;
		width: 100%;
		height: 126px;
		/* background-color: #336699; */
	}

	a.emailLink {
		color: #c7c2c2;
		/* text-decoration: none; */
	}
	
	a.emailLink:hover {
		color: #c7c2c2;
		/* text-decoration: underline; */
	}

	.contact {
		color: #c7c2c2;
		margin: 80px 0 0 12px;
		font-size: 16px;
	}

	.personalInfoRight {
		position: absolute;
		width: 100%;
		height: 60px;
		margin: 36px 0 0 8px;
		left: 0;
		text-align: left;
	}

	.rightSide .title {
		width: 100%;
		position: absolute;
		margin: 0 0 0 8px;
		/* color: red; */
		font-size: 22px;
		line-height: 24px;
	}

	address .title {
		position: absolute;
		width: 100%;
		font-size: 20px;
		line-height: 22px;
		top: -60px;
		margin-left: 12px;
		color: white;
	}

	address .experienceTitle {
		color: #c5bebe;
		margin: 48px 0 0 12px;
		width: 380px;
		line-height: 12px;;
	}

	/* .PortfolioContainer {
		top: -25px;
	} */

	.lastUpdatedDate {
		width: 480px;
		/* height: 200px; */
		/* background-color: red; */
		top: 104px;
		left: 0;
		/* right: 0; */
		/* text-align: left; */
		font-size: 15px;
		color: #999;
	}

	.topPositioning {
		position: relative;
		top: 36px;
		left: 0;
		width: 468px;
		margin-bottom: 30px;
		/* background-color: yellow; */
	}

	.jobPosition {
		font-size: 18px;
		line-height: 22px;
		padding-top: 22px;
	}

	.infoText {
		font-size: 18px;
		line-height: 22px;
		padding-top: 22px;
	}

	.code {
		font-size: 18px;
		line-height: 22px;
		padding-top: 22px;
	}

	ul {
		/* margin: 0 -17px 0 -18px; */
		margin-left: -15px;
		font-size: 18px;
		line-height: 22px;
		padding-top: 20px;
		padding-right: -20px !important;
		/* width: 100%; */
		/* background-color: red; */
	}

	.noDisplay {
		display: none;
	}

	.info {
		width: 100%;
		font-size: 16px;
		line-height: 20px;
	}

	.city {
		position: absolute;
		padding-left: 0;
		font-size: 15px;
		line-height: 17px;
		width: 100%;
		top: 24px;
		left: 0;
	}

	.city2 {
		left: 66px;
	}

	.exception {
		position: absolute;
		top: 26px;
	}

	#PortfolioBox {
		display: block;
		margin: 220px auto 0 auto;
		width: 100%;
	}

	.portfolio {
		width: 100%;
		margin: 60px 12px 0 12px;
		padding-bottom: 60px;
	}

	/* .portfolio .rightSide { */
		/* width: 100%; */
		/* left: 0; */
		/* padding-bottom: 10px; */
		/* margin-right: 8px; */
		/* background-color: yellow; */
	/* } */

	.portfolio .rightSide .title {
		position: relative;
		left: 80px;
		top: 3px;
		padding-bottom: 35px;
		color: #336699;
		line-height: 11px;
	}

	.portfolio .rightSide .keys {
		/* float: left; */
		/* display: block; */
		/* width: 120px; */
		margin-left: 0;
		color: #999;
	}

	.portfolio .rightSide .value {
		left: 0;
		/* width: 100%; */
		/* margin: 0 0 14px 0; */
		/* background-color: pink; */
		text-align: left;
		margin: 0 0 12px 0px;
		text-align: left;
	}
	
	/* .portfolio .rightSide .achievement .value {
		margin: 0 10px 0 0px;
	} */

	.buttonSample {
		font-size: 18px;
		padding: 1px px 3px 9px;
		margin-right: 14px;
	}

    .txt {
        /* color: #336699; */
		font-size: 18px;
		line-height: 21px;
    }

	#nav {
		display: none;
	}

	#topHeader {
		position: absolute;
	} 

	.portfolio .image {
		width: 70px;
		height: 70px;
	}

	.title {
		font-size: 20px;
		color: #c7c2c2;
	}

	.copy {
		width: 344px;
		font-size: 14px;
		text-align: left;
		margin-left: 8px;
		/* padding: 0 0 40px 0; */
	}

/*///////////////////////////////////////////////////////////////////////////*/
/*--- SAMPLES MOBILE ---/////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////*/

.setSample {
	font-size: 16px;
}
  
  .bg {
	width: 100%;
  }
  
  .centerPosition {
	width: 344px;
  }
  
  .whiteBox {
	width: 322px;
  }
   
   .titleSamples {
	width: 344px;
	font-size: 22px;
  }
  
  .title2 {
	margin-left: -10px;
  }

  .title3 {
	margin-left: -30px;
  }
  
  .txtSample, .txt2Sample {
	font-size: 16px;
	line-height: 20px;
  }
  
  .imageWrapper {
	max-width: 300px;
	grid-template: "auto";
	padding: 25px 0 20px 10px;
  }
  
  .imageWrapper2 {
	max-width: 300px;
	grid-template: "auto";
	padding: 25px 0 20px 10px;
  }
  
  .imageWrapper3 {
	max-width: 300px;
	padding: 16px 0 30px 10px;
  }
  
  .item224, .item690, .item254, .item423, .item600 {
	z-index: 89;
	width: 300px;
  }

  .close {
	right: 16px;
	z-index: 99;
}
}