@charset "utf-8";

/* /////////////////// GENERAL /////////////////////// */

:root {
	color-scheme: only light;
	--white: rgba(255, 255, 255, 1);
	--white-0: rgba(255, 255, 255, 0);
	--white-alpha97: rgba(255, 255, 255, 0.97);
	--white-alpha95: rgba(255, 255, 255, 0.95);
	--white-alpha9: rgba(255, 255, 255, 0.9);
	--blue: rgb(51, 102, 153); /*#336699*/
	--blue-border: rgb(96, 112, 144); /*#607090*/
	--blue-btn: rgb(133,163,194); /*#85A3C2*/
	--grey: rgb(153, 153, 153); /*#999999*/
	--grey-header: rgb(197, 190, 190); /*#c5bebe*/
	--grey-shadow: rgb(235, 232, 232); /*#ebe8e8*/
	--grey-border: rgb(204, 204, 204); /*#CCCCCC*/
	--grey-over: rgb(47, 54, 70); /*#2F3646*/
	--red-alert: rgb(252, 54, 4); 
}

html {
    color-scheme: light;
}

.white {
	background-color: var(--white);
}

h1, h2 {
	color: var(--white);
	display: none;
	white-space: nowrap;
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--white);
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	color-scheme: light;
}

sup {
	font-size: 0.5rem;
}

.sup2 {
	font-size: 0.625rem;
}

.noDisplay {
	display: none;
}

.seen {
	display: block;
}

img {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.625rem;
	color: var(--grey);
}

.txt {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.75rem;
	color: var(--blue);;
	line-height: 0.938rem;
}

.title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.188rem;
	line-height: 1.438rem;
	color: var(--blue);;
}

.clear_both {
	clear: both;
}

.no-js-alert {
	font-family: Verdana, Arial, Helvetica, sans-serif;
    background-color: var(--blue);
    color: var(--white);
    padding: 0.5rem;
    text-align: center;
	width: 70vw;
    margin: 40% auto;
    border-radius: 0.313rem;
	font-size: 0.938rem;
}

img .lazyload {
	opacity: 0;
} 

/* img.lazy {
	-webkit-transition: opacity .15s;
	-moz-transition: opacity .15s;
	transition: opacity .15s;
	opacity: 0.5;
} */

/* ////////////////// ERROR ////////////////// */

#errorContainer {
	display: none;
	position: fixed;
	width: 100%;
	margin-top: 16.25rem;
}

#errorMessage {
	padding: 1.25rem;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.125rem;
	border: 1px;
	border-color: var(--grey-border);
	border-style: solid;
	box-shadow: 0.063rem 0.063rem 0.125rem var(--grey-border);
	margin: 0 auto 0 auto;
	max-width: 37.5rem;
	background-color: var(--white);
	border-radius: 0.313rem;
	color: var(--red-alert);
	text-align: center;
}

/* ////////////////// LOADER ////////////////// */

#loader {
	/* display: none; */
	position: absolute;
	width: 100%;
	height: 0;
	/* z-index: 9999 !important; */
	background-color: bisque;
}

.loaderBox {
	/* position: absolute; */
	padding: 0.625rem;
	width: 2.875rem;
	height: 2.875rem;
	border-radius: 3.125rem;
	margin: 40% auto 0 auto;
	/* margin: auto; */
	background-color: var(--white-alpha9);
	box-shadow: 0.063rem 0.063rem 0.125rem var(--grey-border);
}

.preload {
	margin: 0.5rem auto 0.5rem auto;
	width: 1.875rem;
	height: 1.875rem;
	/* background: repeat url(../images/loading.gif) 0 0; */
}

/* ////////////////// CONTAINERS ////////////////// */

#mainContainer {
	/* display: none; */
	position: absolute;
	left: 0;
	width: 100vw;
	min-height: 100vh;
	/* background-color: var(--white); */
}

.box {
	position: relative;
	margin: 15.625rem auto 0 auto; /*top spacing pages*/
	left: -0.375rem;
	top: 0;
	width: 44.375rem;
	background-color: var(--white);
}

/* /////////////////// HEADER //////////////////// */

header {
	position: fixed;
	top: 0;
	width: 44.375rem;
	height: 10.375rem;
}

#topBgWhite {
	width: 100%;
	height: 10rem;
	white-space: nowrap;
	background-color: var(--white-alpha95);
	border-bottom: var(--blue-border) 1px solid;
}

#topHeader {
	position: absolute;
	top: 0;
}

.experienceTitle {
	float: left;
	margin: -1.438rem 0 0 15.938rem;
}

#bottomHeader{
	width: 100%;
	height: 1.25rem;
	margin-top: 2.875rem;
}

address {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.875rem;
	color: var(--grey);
	width: 100%;
	height: 1.25rem;
	margin-top: 3rem;
	font-style: normal;
}

time {
	font-size: 0.625rem;
	float: right;
	margin-top: -0.75rem;
}

#shadow {
	position: absolute;
	opacity: .6;
	filter: alpha(opacity=6);
	width: 44.375rem;
	height: 0.375rem;
	top: 10.063rem;
	background: url("../images/shadow.png") 0 0 repeat-x;
}

/* /////////////////// FOOTER //////////////////// */

#footer {
	border-top: var(--blue-border) 1px solid;
	margin-top: 6.25rem;
	padding-bottom: 3.75rem;
	display: hidden;
}

.copy {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.625rem;
	color: var(--grey);
	float: right;
}

/* ////////////// NAV BUTTONS LINKS /////////////// */

nav {
	border-top: var(--blue-border) 1px solid;
	padding: 0.313rem 0 0.5rem 0;
	margin: 1.25rem 0 1.25rem 0;
	width: 44.375rem;
	border-bottom: var(--blue-border) 1px solid;
	height: 0.938rem;
}

.nav-btn {
	letter-spacing: 0.063rem;
	padding: 0 0.188rem 0 0.188rem;
	margin: 0 0.313rem 0 0.313rem;
}

.spacing {
	text-align: left;
	margin-left: -0.188rem;
}

button {
	cursor: pointer;
	border: none;
	background-color: var(--white-0);
	color: var(--blue);
	text-align: center;
	min-width: 4.375rem;
	font-size: 0.813rem;
}

button:hover {
	color: var(--blue);
	font-weight: bold;
}

.active {
	color: var(--blue);
	font-weight: 600;
	cursor: auto;
}

a.contact {
	color: var(--grey);
	text-decoration: none;
}

a.contact:hover {
	text-decoration: underline;
	color: var(--grey-over);
}

a {
	color: var(--blue);;
	font-weight: normal;
	text-decoration: underline;
	text-decoration-skip-ink: none;
}

a:hover {
	color: var(--blue);;
	text-decoration: none;
}

/* ///////////////// PORTFOLIO ////////////////// */

#portfolioContainer {
	background-color: var(--white);
}

.portfolio {
	margin-bottom: 8.75rem;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.75rem;
	color: var(--blue);;
	line-height: 0.938rem;
}

.image {
	width: 6.25rem;
}

.portfolio .title {
	margin: -6.5rem 0 0 7.5rem;
}

.jobContainer {
	margin: 1.25rem 0 0 8.438rem;
}

.city {
	font-size: 0.75rem;
	font-weight: normal;
}

.keys {
	width: 7.5rem;
	color: var(--grey);
}

.jobPosition {
	font-size: 1.063rem;
	line-height: 1.188rem;
	margin: -1.188rem 0 0.75rem 7.5rem;
}

.infoText {
	font-size: 0.75rem;
	line-height: 0.938rem;
	margin: -0.938rem 0 0.75rem 7.5rem;
}

.code {
	font-size: 0.875rem;
	line-height: 1rem;
	margin: -1rem 0 0.75rem 7.5rem;
}

ul {
	list-style-image: url(../images/bullet.gif);
	margin: -1rem 0 0 6.875rem;
	line-height: 1.063rem;
}

.info {
	font-size: 0.75rem;
	color: var(--grey);
	line-height: 0.938rem;
	margin: 1.25rem 0 0 0;
	font-style: italic;
}

.buttonSample {
	white-space: nowrap;
	cursor: pointer;
	font-size: 0.938rem;
	float: right;
	transition-duration: 0.4s;
	background-color: var(--blue-btn);
	padding: 0.125rem 0.563rem 0.25rem 0.563rem;
	margin-right: 0.188rem;
	/* background: rgb(133,163,194); */
	/* background: linear-gradient(180deg, rgba(133,163,194,1) 0%, rgba(51,102,153,1) 100%); */
	border: none;
	color: var(--white);
	text-align: center;
	text-decoration: none;
	border-radius: 0.188rem;
	box-shadow: 0.063rem 0.063rem 0.125rem var(--grey);
}

.buttonSample:hover {
	background-color: var(--blue);
	/* background: linear-gradient(180deg, rgba(51,102,153,1) 0%, rgba(133,163,194,1) 100%); */
	color: var(--white);
	box-shadow: none;
	font-weight: normal;
}


/* ////////////////// RESUME ////////////////// */

#resumeContainer .box {
	margin: 0 auto 0 auto;
	padding-left: 0.375rem;
	background-color: var(--white);
}

#resumeContainer .txt {
	font-size: 0.813rem;
	line-height: 1.188rem;
}

#resumeContainer h2 {
	display: block;
	font-weight: bold;
	font-size: 0.875rem;
	margin-bottom: 0.188rem;
	color: var(--blue);
}

#resumeContainer .title {
	font-size: 0.875rem;
	margin: 3.125rem 0 1.563rem;
}

.companyName {
	font-size: 0.938rem;
}

.bullet ul {
	margin: 0.625rem 0 2.75rem 0.125rem
}

#resumeContainer ul {
	margin: 0.188rem 0 0 0;
	line-height: 1.25rem;
}

.bold {
	font-weight: bold;
}

/* ///////////////// SAMPLES ////////////////// */

#samples {
	display: none;
}

.bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--white-alpha97);
}

.overlayContainer {
	position: fixed;
	top: 0;
	left: 0;
	margin-left: 0.188rem;
	width: 100vw;
	height: 100vh;
	overflow-y: auto;
	overflow-x: hidden;
	cursor: pointer;
}

#comedyCentral .overlayContainer {
	left: -0.563rem;
}

.centerPosition {
	width: 44.375rem;
	margin: 0 auto 0 auto;
}

.logo {
	font-size: 0.75rem;
	margin-right: 0.938rem;
	width: 5rem;
	height: 5rem;
}

.titleSamples {
	font-size: 1.375rem;
	line-height: 1.5rem;
	padding: 2.5rem 0 2.5rem 0;
}

.title2 {
	margin-left: -0.625rem;
}

.title3 {
	margin-left: -1.875rem;
}

.whiteBox {
	background-color: var(--white);
	width: 43.125rem;
	padding: 1.125rem 0.625rem 1.125rem 0.625rem;
	margin: 0.625rem 0 1.25rem 0;
	border: solid 1px var(--grey-border);
	border-radius: 0.313rem;
	box-shadow: 0.063rem 0.063rem 0.313rem var(--grey-shadow);
}

.sizeup {
	font-size: 1.125rem;
	margin: 0.125rem 0 0.188rem 0.625rem;
}

.txtSample {
	padding: 0.5rem 0 0 0.625rem;
	font-size: 0.813rem;
	line-height: 1rem;
	color: var(--grey);
  }

.imageWrapper {
	max-width: 44.375rem;
	display: grid;
	column-gap: 0.5rem;
	row-gap: 0.75rem;
	grid-template: "auto auto auto";
	padding: 1.563rem 0 1.25rem 0;
}

.imageWrapper2 {
	max-width: 38rem;
	display: grid;
	column-gap: 0.75rem;
	row-gap: 0.5rem;
	grid-template: "auto auto";
	padding: 1.563rem 0 1.25rem 0;
}

.imageWrapper3 {
	max-width: 44.375rem;
	display: grid;
	row-gap: 0.75rem;
	grid-template: "auto";
	padding: 1rem 0 1.25rem 0;
}
  
.width224 {
	width: 14rem;
}

.width600 {
	width: 37.5rem;
}
  
.width690 {
	width: 43.125rem;
}

.width254 {
	width: 15.875;
}

.width423 {
	width: 23.625rem;
}

.closeBtn {
	position: fixed;
	cursor: pointer;
	background: url("../images/close.png") no-repeat 0 0;
	background-size: 1.875rem 3.75rem;
	width: 1.875rem;
	height: 1.875rem;
	top: 1.875rem;
	margin-left: 45rem;
	box-shadow: 0.063rem 0.063rem 0.125rem var(--grey);
}


.closeBtn:hover {
	background-position: bottom;
	box-shadow: none;
}

/* ///////////////////////////////////////////////////////// */
/* /////////////////////  MOBILE /////////////////////////// */
/* ///////////////////////////////////////////////////////// */

@media only screen and (max-width: 600px ) { /* 480px */

	.loaderBox {
		margin: 65% auto 35% auto;
	}

	/* ////////////////// CONTAINERS MOBILE ////////////////// */

	.box {
		width: 100vw;
		left: 0;
	}

	/* /////////////////// HEADER MOBILE //////////////////// */

	header { 
		width: 100vw;
		/* height: 11.25rem; */
		/* overflow: hidden; */
	}

	#topBgWhite {
		height: 11.875rem;
		background-color: var(--blue);
		border-bottom: none;
		opacity: 1;
		filter: alpha(opacity=100);
	}

	#topHeader {
		margin-left: 1.875rem;
	}
	
	#shadow {
		opacity: 1;
		filter: alpha(opacity=1);
		margin: 1.813rem 0 0 -1.875rem;
		/* background-color: red; */
	}

	#nav {
		display: none;
	}
	
	.title {
		font-size: 1.375rem;
		line-height: 1.375rem;
		margin: 1.063rem 0 0 0;
		color: var(--white);
	}
	
	.experienceTitle {
		font-size: 1.25rem;
		color: var(--grey-header);
		margin: 1.25rem 1.875rem 0 0;
		line-height: 1.5rem;
		letter-spacing: -0.038rem;
	}

	address {
		margin: 6.625rem 0 0 0;
		font-size: 0.875rem;
		color: var(--grey-header);
	}

	a.contact {
		font-size: 1rem;
		line-height: 1.125rem;
		color: var(--grey-header);
		text-decoration: underline;
		margin-bottom: 0.625rem;
	}
	
	a.contact:hover {
		text-decoration: underline;
		color: var(--white);
	}

	.noDisplay {
		display: block;
	}

	.seen {
		display: none;
	}

	/* ////////////////// ERROR ////////////////// */

#errorMessage {
	font-size: 1.313rem;
	max-width: 70%;
}

	/* /////////////////// FOOTER MOBILE //////////////////// */

	#footer {
		margin-top: 5rem;
	}
	
	.copy {
		font-size: 0.813rem;
		float: left;
		margin: 0 1.25rem 0 1.875rem;
	}

	/* /////////////////// PORTFOLIO MOBILE //////////////////// */

	.portfolio {
		margin: 6.875rem 1.875rem 0 1.875rem;
	}

	.image {
		width: 4.375rem;
	}
	
	.portfolio .title {
		margin: -4.5rem 0 0 5.125rem;
		color: var(--blue);
		letter-spacing: -0.038rem;
	}

	.city {
		font-size: 0.875rem;
		line-height: 0.875rem;
		letter-spacing: 0;
	}

	.jobContainer {
		margin: 2.188rem 0 0 0;
	}

	.keys {
		width: 100%;
		font-size: 1.125rem;
		line-height: 1.313rem;
	}

	.jobPosition, .infoText, .code, ul {
		margin: 0 0 0.75rem 0;
		font-size: 1.125rem;
		line-height: 1.375rem;
	}

	ul {
		margin-left: -0.75rem;
	}

	.buttonSample {
		font-size: 1.125rem;
		letter-spacing: 0.013rem;
		margin-right: -0.313rem;
		margin-top: -0.125rem;
	}

	.info {
		font-size: 0.938rem;
		line-height: 1.125rem;
	}


/* /////////////////// SAMPLES MOBILE //////////////////// */

	.overlayContainer {
		margin-left: 0;
		cursor: default;
	}

	#comedyCentral .overlayContainer {
		left: 0;
	}

	.setSample {
		font-size: 1rem;
	}
	
	.bg {
		width: 100%;
	}
	
	.centerPosition {
		width: 90%;
		padding: 0 0.5rem 3.438rem 0;
	}

	.whiteBox {
		max-width: 100%; 
		padding: 0.75rem 0;
		margin: 0.75rem 0 1.25rem 0;
	}

	.sizeup {
		line-height: 1.313rem;
	}

	.imageWrapper, .imageWrapper2, .imageWrapper3 {
		grid-template: "auto"; 
		padding: 1.563rem 0 1.25rem 0;
	}

	.closeBtn {
		margin: 0.625rem 1.25rem 0 82%;
		background-size: 2.5rem 5rem;
		width: 2.5rem;
		height: 2.5rem;
	}

	.width224, .width690, .width254, .width600, .width423 {
		width: 90%;
		margin: 0 auto 0 auto;
	}

	.width224, .width254 {
		max-width: 18.75rem;
	}

	.txtSample {
		font-size: 1rem;
		line-height: 1.25rem;
		width: 95%;
	}

	.title2 {
		margin-left: -0.625rem;
	}
	
	.title3 {
		margin-left: -1.875rem;
	}
}