@charset "utf-8";

h1,
h2 {
	color: white;
	display: none
}

body {
	margin-left: 0px;
	margin-top: 0px;
	background-color: white;
}

sup {
	font-size: 8px;
}

.sup2 {
	font-size: 10px;
}

.notSeen {
	display: none;
}

img {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #999;
}

#topBox {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	position: fixed;
	background-color: white;
	opacity: 0.95;
	filter: alpha(opacity=95);
	width: 710px;
	height: 20px;
	top: 0;
}

.blueBox {
	display: none;
}

#box {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 710px;
	height: 150px;
	/* background-color: white; */
}

#nav {
	/* position: absolute; */
	display: block;
	border-top: #607090 1px solid;
	padding: 5px 0 8px 0;
	margin: 20px 0 15px;
	width: 710px;
	border-bottom: #607090 1px solid;
	font-size: 13px;
	height: 15px;
	position: fixed;
	top: 0;
	background-color: white;
}

#nav a {
	/*margin: 0px 13px 50px 0px; */
	margin-right: 10px;
	color: #336699;
	text-decoration: none;
	font-weight: normal
}

.selected {
	font-weight: bold;
	margin-right: 10px;
	color: #336699;
}

#nav a:hover {
	color: #2F3646
}

#portfolioBtn {
	position: absolute;
}

#resumeBtn {
	position: absolute;
	left: 85px;
}

#resumeBtn2 {
	position: absolute;
	left: 78px;
}

#printBtn {
	position: absolute;
	left: 250px;
}

/*------------------------------------------------------LINKS*/
a {
	color: #336699;
	font-weight: normal;
	text-decoration: underline;
	text-decoration-skip-ink: none;
}

a:hover {
	color: #336699;
	text-decoration: none;
}

/******Text format header*********************************************************/

#info {
	top: 50px;
	width: 710px;
	height: 60px;
	font-style: normal;
	position: absolute;
}

#personalInfo {
	position: absolute;
	width: 710px;
	height: 60px;
	text-align: left;
}

.personalInfoRight {
	position: absolute;
	width: 520px;
	height: 60px;
	right: 0;
	text-align: right;
}

.txt {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #336699;
	font-weight: normal;
	text-align: left;
	line-height: 15px;
}

.title {
	font-size: 18px;
	line-height: 23px;
	font-weight: normal;
	margin-bottom: 1px;
	color: #336699;
}

.jobPosition {
	/* position: relative; */
	font-size: 17px;
	line-height: 19px;
	margin-left: 300px;
}

.infoText {
	font-size: 12px;
	line-height: 14px;
}

.code {
	font-size: 14px;
	line-height: 16px;
}

.contact {
	display: flex;
	color: #999;
	margin-top: 30px;
	font-size: 12px;
}

/* .dash {
	display: block;
}

.nextline {
	display: none;
} */

a.emailLink {
	color: #999;
	text-decoration: none;
}

a.emailLink:hover {
	color: #999;
	text-decoration: underline;
}

.lastUpdatedDate {
	position: absolute;
	bottom: 1px;
	right: 0;
	font-size: 11px;
	color: #999;
	text-align: right;
}

.lastUpdatedDate2 {
	position: absolute;
	bottom: 2px;
	right: 0;
	font-size: 11px;
	color: #999;
	text-align: right;
}

#shadow {
	display: block;
	opacity: .5;
	width: 710px;
	height: 10px;
	position: absolute;
	bottom: 9px;
	background: url("../images/shadow.png") 0 0 repeat-x;

}

#topHeader {
	position: fixed;
	display: block;
	width: 710px;
	height: 160px;
	top: 20px;
	/* background-color: red; */
}

#topBgWhite {
	position: absolute;
	display: block;
	width: 710px;
	height: 120px;
	opacity: 0.95;
	filter: alpha(opacity=95);
	background-color: white;
	top: 20px;
	border-bottom: #607090 1px solid;
}

header {
	margin-top: 80px;
}

/*---BOTTOM LINK TO TOP /////////////////////////////////////////////////////*/

/* #topPage {
	position: fixed;
	display: none;
	width: 55px;
	height: 20px;
	/*border: solid thin #999;*/
	/*border-radius: 7px 0 0 7px;
	-moz-border-radius: 7px 0 0 7px;
	-webkit-top-left-radius: 7px;
	-webkit-bottom-left-radius: 7px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	box-shadow: 0px 3px 6px #C7C7C7;
	-moz-box-shadow: 0px 3px 6px #C7C7C7;
	-webkit-box-shadow: 0px 3px 6px #C7C7C7;
	vertical-align: middle;
	background-color: #336699;
	cursor: pointer;
	margin: -60px 0 60px 0;
}

.topPage {
	margin-top: 1px;
	margin-left: auto;
	margin-right: auto;
	width: 30px;
	height: 20px;
	font-size: 13px;
	color: white;
	text-align: center;
}

#status {
	position: fixed;
} */

/*---BPORTFOLIO /////////////////////////////////////////////////////*/

.portfolio {
	display: block;
	position: relative;
	width: 710px;
	margin: 90px 0;
	/* background-color: orange; */
}

#PortfolioBox {
	display: block;
	margin: 230px auto 0 auto;
	width: 710px;
	/* background-color: white; */
}

.topPositioning {
	position: relative;
	left: 135px;
	width: 572px;
	top: 20px;
	/* background-color: pink; */
}

.linkSample {
	cursor: pointer;
	/* font-size: 16px; */
}

/* .buttonSample {
	cursor: pointer;
	font-size: 16px;
	position: absolute;
	right: 15px;

	background-color: #04AA6D; /* Green */
	/*border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
} */

.buttonSample {
	white-space: nowrap;
	position: absolute;
	cursor: pointer;
	font-size: 14px;
	right: 0;
	top: 0;
	transition-duration: 0.4s;
	background-color: #85A3C2;
	background: rgb(133,163,194);
	/* background: linear-gradient(180deg, rgba(133,163,194,1) 0%, rgba(51,102,153,1) 100%); */
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	border-radius: 3px;
	padding: 2px 9px 4px 9px;
	box-shadow: 1px 1px 2px #999;
	
}

.buttonSample:hover {
	background: rgb(51,102,153);
	/* background: linear-gradient(180deg, rgba(51,102,153,1) 0%, rgba(133,163,194,1) 100%); */
	color: white;
	box-shadow: none;
  }

.city {
	padding-left: 4px;
	font-size: 12px;
	font-weight: normal;
}

.PortfolioContainer {
	position: relative;
	top: 0px;
	width: 710px;
	/* height: 600px; */
	/* background-color: blue; */
}

.portfolio .image {
	display: block;
	position: absolute;
	width: 100px;
	top: 0;
}

.portfolio .rightSide {
	position: relative;
	/* display: block; */
	/* width: 572px; */
	top: 0;
	/* left: 135px; */
	left: 0;
	/* background-color: yellow; */
}

.portfolio .rightSide .title {
	position: relative;
	left: 120px;
	/* float: left; */
	/* margin-bottom: 20px; */
	color: #336699;
}

.portfolio .rightSide .link ul {
	position: absolute;
	right: 15px;
	/* list-style-image: url(../images/bullet2.gif); */
}

.portfolio .rightSide .nolink {
	text-align: right;
	margin-bottom: 20px;
	color: white
}

.portfolio .rightSide .keys {
	position: relative;
	float: left;
	display: block;
	width: 120px;
	/* margin-left: 0px; */
	color: #999;
	top: 0;
	margin: 0;
	padding: 0;
}

.portfolio .rightSide .note {
	font-size: 11px;
	color: #999;
	font-style: italic;
	line-height: 12px;
	margin-top: 15px;
}

.portfolio .rightSide .value {
	display: block;
	text-align: left;
	margin: 0 0 12px 120px;
}

.portfolio .rightSide .achievement .value {
	margin: 0 10px 0 120px;
}

ul {
	list-style-image: url(../images/bullet.gif);
	margin: 0 -17px 0 10px;
	line-height: 17px;
	margin-right: 3px;
}

.clear_both {
	clear: both;
}

.info {
	width: 430px;
	font-size: 12px;
	color: #999999;
	font-style: italic;
	line-height: 13px;
	margin-top: 20px;
}

.line {
	position: relative;
	width: 710px;
	border-bottom: #607090 1px solid;
	margin: 34px 0 2px 0;
	width: 100%;
}

#line2 {
	position: absolute;
	border-bottom: #607090 1px solid;
	bottom: -1px;
	width: 100%;
}

.copy {
	display: block;
	width: 710px;
	font-size: 10px;
	color: #999;
	text-align: right;
	padding: 0 0 40px 0;
}

/*--- RESUME /////////////////////////////////////////////////////*/

#resume {
	display: block;
	position: absolute;
	width: 710px;
	margin: 195px 0;
	/* background-color: white; */
}

/*--- INTRODUCTION /////////////////////////////////////////////////////*/

#box #resume .title {
	font-weight: bold;
	font-size: 14px;
	margin: 30px 0 20px;
}

#competencies {
	display: block;
	margin-bottom: 40px;
}

.introduction {
	margin-left: 38px;
}

#competencies .title {
	margin: 30px 0 0 0;
}

#box #resume #competencies {
	margin-bottom: 20px;
}

#box #resume #competencies li {
	line-height: 17px;
}

.columnLeft {
	width: 335px;
}

.columnRight {
	display: block;
	position: absolute;
	width: 335px;
	height: 160px;
	margin: 0 0 0 370px;
}

.position {
	position: absolute;
	font-weight: bold;
	font-size: 15px;
}

.position2 {
	position: absolute;
	margin-bottom: 20px;
}

#box #resume .job {
	display: block;
	margin-top: 30px
}

.edu {
	display: block;
	margin-top: 15px
}

.company {
	font-size: 15px;
	font-style: italic;
	margin: 25px 0 5px;
}

.year {
	width: 150px;
	margin: 0 0 0 560px;
	text-align: right;
	font-size: 12px;
	font-weight: bold;
}

.withLine {
	text-decoration: underline;
}

.placeTime {
	font-size: 12px;
	font-style: italic;
	font-weight: normal;
}

.education {
	display: block;
	margin-top: 10px
}

.educationYear {
	font-size: 12px;
	font-style: italic;
	font-weight: bold;
	text-align: right !important;
}

/* ul {
	list-style-image: url(../images/bullet.gif);
	line-height: 17px;
} */

.spacer {
	margin-top: 100px;
}

/*////////////////////////////////////////////////////////////////////////////*/
/*--- SAMPLES DESKTOP ---/////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////*/

.setSample {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.close {
	position: absolute;
	cursor: pointer;
	background: url("../images/close.png") no-repeat 0 0;
	/* float: right; */
	width: 44px;
	height: 44px;
	top: 10px;
	right: 30px;
	/* z-index: 89; */
}

.close:hover {
	background-position: bottom;
}

.container {
	position: relative;
	display: block;
	width: 100%;
	margin: 0 0 60px -4px;
  }
  
  .bg {
	display: block;
	position: fixed;
	width: 98%;
	height: 100%;
	background-color: white;
	opacity: 0.9;
	cursor: default;
  }
  
  .centerPosition {
	display: block;
	position: relative;
	top: 0;
	cursor: default;
	width: 710px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	/* z-index: 10; */
  }
  
  .whiteBox {
	position: relative;
	background-color: white;
	width: 690px;
	padding: 18px 10px 18px 10px;
	margin: 40px 0 20px 0;
	border: solid 1px #CCC;
	border-radius: 5px;
	box-shadow: 1px 1px 5px #ebe8e8;
  }
   
   .titleSamples {
	cursor: default;
	width: 710px;
	font-size: 22px;
	line-height: 24px;
	color: #336699;
	padding: 60px 0 40px 0;
  }
  
  .title2, .title3 {
	font-size: 22px;
	margin-left: -10px;
  }

  .title3 {
	margin-left: -30px;
  }
  
  .txtSample, .txt2Sample {
	padding-top: 8px;
	font-size: 13px;
	line-height: 16px;
	color: #999;
  }
  
  .txt2Sample {
	padding-top: 40px;
  }
  
  .sizeup {
	font-size: 18px;
	color: #336699;
	padding: 2px 0 3px 0px;
  }
  
  .width {
	max-width: 710px;
	margin: auto auto;
  }
  
  .imageWrapper {
	max-width: 710px;
	display: grid;
	column-gap: 8px;
	row-gap: 12px;
	grid-template: "auto auto auto";
	padding: 25px 0 20px 0;
	cursor: default;
  }
  
  .imageWrapper2 {
	max-width: 608px;
	display: grid;
	column-gap: 12px;
	row-gap: 8px;
	grid-template: "auto auto";
	padding: 25px 0 20px 0;;
  }
  
  .imageWrapper3 {
	max-width: 710px;
	display: grid;
	row-gap: 12px;
	grid-template: "auto";
	padding: 16px 0 20px 0;
  }
  
  .item224 {
	width: 224px;
  }

  .item600 {
	width: 600px;
  }
  
  .item690 {
	width: 690px;
  }

  .item254 {
	width: 254px;
  }

  .item423 {
	width: 423px;
  }
  
  .logo {
	font-size: 12px;
	margin: 0 15px 0 10px;
	width: 80px;
	height: 80px;
  }

/* #screen {
	background: repeat url(../images/whiteBg.png) 0 0;
	background-color: white;
	opacity: .97;
	display: none;
	top: 0;
	left: 0;
	position: fixed;
}

#preload {
	background: no-repeat url(../images/loading.gif) 0 0;
	display: none;
	top: 150px;
	width: 41px;
	height: 40px;
	position: fixed;
}

#samples {
	display: none;
	position: fixed;
	top: 20px;
}

#boxSample {
	position: absolute;
	width: 728px;
	margin-left: -9px;
	background-color: #F1F1F1;
	border-radius: 0 15px 15px 15px;
	-moz-border-radius: 0 15px 15px 15px;
	-webkit-border-radius: 0 15px 15px 15px;
	box-shadow:4px 4px 8px #C7C7C7;
	-moz-box-shadow:4px 4px 8px #C7C7C7;
	-webkit-box-shadow:4px 4px 8px #C7C7C7;
}

#menuSample {
	float: left;
	width: 710px;
	padding: 0 0 20px 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #336699;
	line-height: 16px;
}

.titleSample {
	margin: 0 0 25px;
	font-size: 22px;
	font-weight: bold;
}

.keySample {
	margin: 10px 0 10px 15px;
	color: #999;
}

.valueSample {
	margin-left: -100px;
}

.selectedSample {
	text-decoration: underline;
}

#boxvertical {
	float: left;
	margin-top: 30px
}

#boxhorizontal {
	display: none;
	margin: 0 0 15px 0px;
}

.linkSample {
	cursor: pointer;
}

.brand {
	font-size: 16px;
}

.banner {
	margin-top: 5px;
	color: #336699;
	font-weight: bold;
	font-size: 12px;
	text-decoration: underline;
	cursor: pointer;
}
 
.banner:hover {
	text-decoration: none;
}

.bannerSelected {
	text-decoration: none;
	color: red;
	cursor: default;
} */
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////  MOBILE  /////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

@media screen and (max-width: 360px) {

	/* body {
		background-color: orange;
		background-color: #f7f3f3;
	} */

	.blueBox {
		position: relative;
		display: block;
		top: 0;
		left: 0;
		width: 360px;
		height: 20px;
		background-color: #245586;
		/* z-index: 89; */
		margin-top: -20px;
	}

	#PortfolioBox {
		width: 360px;
	}

	.notSeen {
		display: block;
		
	}

	/* #topHeader {
		position: absolute;
		display: block;
		width: 360px;
		height: 160px;
		top: 0px !important;
		background-color: red;
		z-index: 99;
	} */

	/* .topBox {
		position: absolute;
		background-color: red;
		opacity: 0.95;
		filter: alpha(opacity=95);
		width: 710px;
		height: 20px;
		top: 0;
		left: 0;
		z-index: 100;
	} */

	/* #topBox {
		position: relative;
		width: 360px;
		top: 0;
		left: 0;
		background-color: #336699;
	} */
	
	#topHeader {
		display: block;
		width: 360px;
		top: 10px;
	}

	#topBgWhite {
		top: 0;
		width: 360px;
		height: 140px;
		background-color: white;
		border-bottom: none;
	}

	#info {
		top: 0;
		width: 360px;
		height: 126px;
		background-color: #336699;
	}

	#personalInfo .title {
		position: absolute;
		margin: 0 0 40px 8px;
		color: white;
	}

	a.emailLink {
		color: #c7c2c2;
		text-decoration: none;
	}
	
	a.emailLink:hover {
		color: #c7c2c2;
		text-decoration: underline;
	}

	.contact {
		color: #c7c2c2;
		margin: 105px 0 0 8px;
		font-size: 15px;
	}

	.personalInfoRight {
		position: absolute;
		width: 300px;
		height: 60px;
		margin: 28px 0 0 8px;
		left: 0;
		text-align: left;
	}

	.personalInfoRight .title {
		font-size: 18px;
		line-height: 19px;
	}

	.PortfolioContainer {
		top: -25px;
	}

	.lastUpdatedDate {
		left: 8px;
		font-size: 14px;
		text-align: left;
		top: 128px;
	}

	#shadow {
		opacity: 1;
		width: 360px;
		top: 126px;
	}

	.topPositioning {
		position: relative;
		top: 32px;
		/* margin-top: 70px; */
		/* background-color: pink; */
		left: 0;
		width: 344px;
		margin-bottom: 30px;
	}

	.jobPosition {
		font-size: 16px;
		line-height: 20px;
		padding-top: 20px;
	}

	.infoText {
		font-size: 16px;
		line-height: 20px;
		padding-top: 20px;
	}

	.code {
		font-size: 16px;
		line-height: 20px;
		padding-top: 20px;
	}

	ul {
		margin: 0 -17px 0 -13px;
		font-size: 16px;
		line-height: 20px;
		padding-top: 20px;
		width: 310px;
	}

	.noDisplay {
		display: none;
	}

	.info {
		width: 340px;
		font-size: 16px;
		line-height: 20px;
	}

	.city {
		position: absolute;
		padding-left: 0px;
		font-size: 15px;
		line-height: 17px;
		width: 250px;
		top: 24px;
		left: 0;
	}

	.city2 {
		left: 60px;
	}

	.exception {
		position: absolute;
		top: 26px;
	}

	#PortfolioBox {
	display: block;
	margin: 230px auto 0 auto;
	width: 710px;
}

	.portfolio .rightSide {
		width: 344px;
		left: 0px;
		padding-bottom: 10px;
		/* background-color: yellow; */
	}

	.portfolio .rightSide .title {
		position: relative;
		left: 80px;
		top: 3px;
		padding-bottom: 35px;
		color: #336699;
		line-height: 11px;
	}

	.portfolio .rightSide .keys {
		float: left;
		display: block;
		width: 120px;
		margin-left: 0px;
		color: #999;
	}

	.portfolio .rightSide .value {
		margin: 0px 0px 14px 0px;
	}

	.buttonSample {
		font-size: 16px;
		padding: 1px 9px 3px 9px;
		margin-top: -2px;
	}

    .txt {
        color: #336699;
		font-size: 16px;
		line-height: 19px;
    }

	#nav {
		display: none;
	}

	#topHeader {
		position: absolute;
	} 

	.portfolio {
		width: 344px;
		margin: 60px 8px 0 8px;
		background-color: white;
	}

	.portfolio .image {
		width: 70px;
		height: 70px;
	}

	.title {
		font-size: 20px;
		color: #c7c2c2;
	}

	.copy {
		width: 344px;
		font-size: 14px;
		text-align: left;
		margin-left: 8px;
		/* padding: 0 0 40px 0; */
	}

/*///////////////////////////////////////////////////////////////////////////*/
/*--- SAMPLES MOBILE ---/////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////*/

.setSample {
	/* font-family: Verdana, Arial, Helvetica, sans-serif; */
	font-size: 16px;
}

.container {
	/* position: relative;
	display: block; */
	width: 360px;
	/* margin: 0 0 60px -4px; */
	/* background-color: pink; */
  }
  
  .bg {
	/* display: block;
	position: fixed; */
	width: 360px;
	/* height: 100%; */
	/* background-color: white;
	opacity: 0.9;*/
	/* cursor: pointer;  */
  }
  
  .centerPosition {
	/* display: block;
	position: relative;
	top: 0;
	cursor: default; */
	width: 344px;
	/* margin-left: auto;
	margin-right: auto;
	display: block;
	z-index: 10; */
  }
  
  .whiteBox {
	/* position: relative;
	background-color: white; */
	width: 326px;
	padding: 18px 0px 0px 24px;
	margin-top: 40px;
	/* border: solid 1px #CCC;
	border-radius: 5px;
	box-shadow: 1px 1px 5px #ebe8e8; */
  }
   
   .titleSamples {
	/* cursor: default; */
	width: 344px;
	font-size: 22px;
	/* background-color: pink; */
	/* line-height: 24px; */
	/* color: #336699;
	padding: 60px 0 40px 0; */
  }
  
  .title2 {
	margin-left: -10px;
  }

  .title3 {
	margin-left: -30px;
  }
  
  .txtSample, .txt2Sample {
	/* padding-top: 8px; */
	font-size: 16px;
	line-height: 20px;
	/* color: #999; */
  }
  
  /* .txt2Sample {
	padding-top: 40px;
  }
  
  .sizeup {
	font-size: 18px;
	color: #336699;
	padding: 2px 0 3px 0px;
  } */
  
  /* .width {
	max-width: 710px;
	margin: auto auto;
  } */
  
  .imageWrapper {
	max-width: 300px;
	/* display: grid; */
	/* column-gap: 8px; */
	/* row-gap: 12px; */
	grid-template: "auto";
	padding: 25px 0 20px 0;
	/* cursor: default; */
  }
  
  .imageWrapper2 {
	max-width: 300px;
	/* display: grid; */
	/* column-gap: 12px; */
	/* row-gap: 8px; */
	grid-template: "auto";
	padding: 25px 0 20px 0;;
  }
  
  .imageWrapper3 {
	max-width: 300px;
	/* display: grid;
	row-gap: 12px;
	grid-template: "auto"; */
	padding: 16px 0 30px 0;
  }
  
  .item224, .item690, .item254, .item423, .item600 {
	width: 300px;
  }

  .close {
	right: 12px;
}
  
  /* .logo {
	margin: 0 15px 0 10px;
	width: 80px;
	height: 80px;
	font-size: 14px;
  } */
}